* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #F9F9F9;
}
.container {
    width: 1030px;
    margin: 0 auto;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 115%;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 55px;
    background-color: #FF941F;
    border-radius: 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}